fieldset {
    background-color: #eeeeee
}

legend {
    color: black;
    background-color: rgb(181, 197, 194);
    color: white;
    padding: 5px 10px;
    
  }
  
input {
    margin: 5px;
  }

  input, label {
    display: flex;
    flex-direction: column;
}
.legendText {
    color: black;
}

.footerCopyright {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
}
.entryLog {
  border-style: double;
  border-color: black;
}